<form action="answer">
  <div class="input-group mb-3 w-25">
    <input type="text" name="question" class="form-control" placeholder="what is it this time" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="submit">Ask</button>
    </div>

  </div>
</form>


<!-- why no separate view and controller for answers -->
<!-- why "questions" as the page/controller -->
<!-- ruby code inside? -->
